
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>南理工自动化研究所</title>
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/amazeui.css" />
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/common.min.css" />
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/news.min.css" />

</head>
<body>
    <div class="layout">
        <!--===========layout-header================-->
        <div class="layout-header am-hide-sm-only">
            <!--topbar start-->
            
                
            </div>

            <!--pc端导航栏-->
            <div class="header-box" data-am-sticky>
                <div class="nav-contain">
                    <div class="nav-inner">
                        <ul class="am-nav am-nav-pills am-nav-justify">
                            <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index">首页</a></li>
                            <li style="text-align:center">
                                科研成果
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="http://egov.jinyuc.com/teamweb/twqd//Solution/theory">理论研究</a></li>
                                    <li class="menu-item"><a href="http://egov.jinyuc.com/teamweb/twqd//Solution/solution">项目研究</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://egov.jinyuc.com/teamweb/twqd//Reaserch/reaserch">研究领域</a>
                            </li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/about">团队介绍
                                
                                </a></li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/join">加入我们</a></li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/contact">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--移动端导航栏-->
        <div class="m-header">
            <div class="am-g am-show-sm-only">
                <div class="am-u-sm-2">
                    <a href="http://egov.jinyuc.com/teamweb/twqd/#mheader" class="am-menu-toggle-icon am-icon-bars"></a>
                    <div class="menu-bars">
                        <nav data-am-widget="menu" class="am-menu  am-menu-dropdown1"
                             data-am-menu-collapse>
                            <a href="http://egov.jinyuc.com/teamweb/twqd/javascript: void(0)" class="am-menu-toggle"></a>
                            <ul class="am-menu-nav am-avg-sm-1 am-collapse" id="mheader">
                                <li class="am-active"><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index" class="">首页</a></li>
                                <li class="am-parent">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd/##" class="">科研成果</a>
                                    <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                                        <li class="">
                                            <a href="http://egov.jinyuc.com/teamweb/twqd//Solution/theory" class="">理论研究</a>
                                        </li>
                                        <li class="">
                                            <a href="http://egov.jinyuc.com/teamweb/twqd//Solution/solution" class="">项目研究</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//Reaserch/reaserch" class="">研究领域</a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/about" class="">团队介绍

                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/join" class="">加入我们</a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/contact" class="">联系我们</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="am-u-sm-5 am-u-end">
                    <div class="m-logo">
                        <a href="http://egov.jinyuc.com/teamweb/twqd/"><img src="../jscss/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>

        <!--侧栏主要内容-->
        <div class="am-g am-show-sm-only">
            <div class="am-u-sm-2">
                <div class="menu-bars">
                    <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
                        <!--      <a href="http://egov.jinyuc.com/teamweb/twqd/javascript: void(0)" class="am-menu-toggle"></a> -->
                        <div class="am-offcanvas" id="doc-oc-demo1">
                            <div class="am-offcanvas-bar">
                                <nav class="scrollspy-nav" data-am-scrollspynav data-am-sticky>
                                    <ul class="am-menu-nav am-avg-sm-1">
                                        <li><a href="http://egov.jinyuc.com/teamweb/twqd/#team" class="">团队简介</a></li>
                                        <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd/#welcome" class="">期待你的加入</a></li>
                                        <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd/#contact" class="">联系方式</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

        </div>


        <!--===========layout-container================-->
        <div class="layout-container">
            <div class="page-header">
                <div class="am-container">
                    <h1 class="page-header-title">正文</h1>
                </div>
            </div>

            <div class="breadcrumb-box">
                <div class="am-container">
                    <ol class="am-breadcrumb">
                        <li><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index">首页</a></li>
                        <li class="am-active">正文</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="section news-section">
            <div class="container">
                <!--news-section left start-->
                <div class="am-u-md-9">
                    <div class="article">
                        <header class="article--header">
                            <h2 class="article--title"><a href="http://egov.jinyuc.com/teamweb/twqd/#" rel="">基于PC104 XX高炮的通讯系统</a></h2>
                            <ul class="article--meta">
                                <li class="article--meta_item"><i class="am-icon-calendar"></i>October 10, 2016</li>
                                <li class="article--meta_item"><i class="am-icon-user"></i>by张三</li>
                                <li class="article--meta_item"><i class="am-icon-commenting-o"></i>33评论</li>
                            </ul>
                        </header>
                        <div class="article--content">
                            <h2>项目简介</h2>
                            <p>分布式火控的定义同传统的火控系统相比，分布式火控系统的“倍增器”效能更加显著，主要表现在：</p>
                            <p>1：具有可扩展性和易推广性</p>
                            <p>2：实现信息的共享</p>
                            <p>3：可以提前发现目标，提高精度</p>
                            <p>4：可拆卸性，有利于山地作战、城市防空</p>
                            <p>通信板设计要求：</p>
                            <p>（1）：符合PC104标准，支持即插即用</p>
                            <p>（2）：提供两个 RS-232串行口和两个RS-485串行口</p>
                            <p>（3）: 串行口地址和中断请求号可由用户设计</p>
                            <p>通信板其他功能：</p>
                            <p>地址信号跳线选择</p>
                            <p>中断号跳线选择</p>
                            <p>电平转换（TTL转EAI电平）</p>
                            <p>通信系统的数据传输率应能保证实时控制的需要，误码率应小于10－6。</p>
                            <h2>系统基本配置图</h2>
                            <img src="../projectimg/5001-1.png" />
                            <h2>硬件示意图</h2>
                            <img src="../projectimg/5001-2.png" />
                            <h2>通信系统时间节拍图</h2>
                            <img src="../projectimg/5001-3.png" />
                        </div>
                    </div>
                </div>
                <!--news-section left end-->
                <!--news-section right start-->
                <div class="am-u-md-3">
                    <div class="blog_sidebar am-hide-sm-only">
                        <div class="widget">
                            <h2 class="widget--title"><i class="am-icon-file-text-o"></i>通知公告</h2>
                            <ul>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">公告1</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">公告2</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">公告3</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h2 class="widget--title"><i class="am-icon-comments-o"></i>行业动态</h2>
                            <ul>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">动态1</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">动态2</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">动态3</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h2 class="widget--title"><i class="am-icon-rss"></i>规章制度</h2>
                            <ul>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">制度1</a><span class="rss-date">November 10, 2015</span></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">制度2</a><span class="rss-date">November 10, 2015</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--news-section right end-->
            </div>
        </div>
    </div>


    <!--===========layout-container================-->
    <div class="layout-footer">
        <div class="footer">
            <div style="background-color:#383d61" class="footer--bg"></div>
            <div class="footer--inner">
                <div class="container">
                    <div class="footer_main">
                        <div class="am-g">
                           
                                <div class="footer_main--column">
                                    <strong class="footer_main--column_title">南理工自动化研究所</strong>
                                    <div class="footer_about">
                                        <p class="footer_about--text">
                                            云适配(AllMobilize Inc.) 是全球领先的HTML5企业移动化解决方案供应商，由前微软美国总部IE浏览器核心研发团队成员及移动互联网行业专家在美国西雅图创立.
                                        </p>
                                        <p class="footer_about--text">
                                            云适配跨屏云也成功应用于超过30万家企业网站，包括微软、联想等世界500强企业
                                        </p>
                                    </div>
                                </div>
                         

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--右下角图标-->
    
    <div class="amz-toolbar" id="amz-toolbar" style="right:10px">
        
    </div>
    <script src="../jscss/jquery-2.1.0.js" charset="utf-8"></script>
    <script src="../jscss/amazeui.js" charset="utf-8"></script>
</body>

</html>



