
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>南理工自动化研究所</title>
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/amazeui.css" />
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/common.min.css" />
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/news.min.css" />

</head>
<body>
    <div class="layout">
        <!--===========layout-header================-->
        <div class="layout-header am-hide-sm-only">
            <!--topbar start-->
            
                
            </div>

            <!--pc端导航栏-->
            <div class="header-box" data-am-sticky>
                <div class="nav-contain">
                    <div class="nav-inner">
                        <ul class="am-nav am-nav-pills am-nav-justify">
                            <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index">首页</a></li>
                            <li style="text-align:center">
                                科研成果
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="http://egov.jinyuc.com/teamweb/twqd//Solution/theory">理论研究</a></li>
                                    <li class="menu-item"><a href="http://egov.jinyuc.com/teamweb/twqd//Solution/solution">项目研究</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://egov.jinyuc.com/teamweb/twqd//Reaserch/reaserch">研究领域</a>
                            </li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/about">团队介绍
                                
                                </a></li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/join">加入我们</a></li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/contact">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--移动端导航栏-->
        <div class="m-header">
            <div class="am-g am-show-sm-only">
                <div class="am-u-sm-2">
                    <a href="http://egov.jinyuc.com/teamweb/twqd/#mheader" class="am-menu-toggle-icon am-icon-bars"></a>
                    <div class="menu-bars">
                        <nav data-am-widget="menu" class="am-menu  am-menu-dropdown1"
                             data-am-menu-collapse>
                            <a href="http://egov.jinyuc.com/teamweb/twqd/javascript: void(0)" class="am-menu-toggle"></a>
                            <ul class="am-menu-nav am-avg-sm-1 am-collapse" id="mheader">
                                <li class="am-active"><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index" class="">首页</a></li>
                                <li class="am-parent">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd/##" class="">科研成果</a>
                                    <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                                        <li class="">
                                            <a href="http://egov.jinyuc.com/teamweb/twqd//Solution/theory" class="">理论研究</a>
                                        </li>
                                        <li class="">
                                            <a href="http://egov.jinyuc.com/teamweb/twqd//Solution/solution" class="">项目研究</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//Reaserch/reaserch" class="">研究领域</a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/about" class="">团队介绍</a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/join" class="">加入我们</a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/contact" class="">联系我们</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="am-u-sm-5 am-u-end">
                    <div class="m-logo">
                        <a href="http://egov.jinyuc.com/teamweb/twqd/"><img src="../jscss/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>

        <!--侧栏主要内容-->
        <div class="am-g am-show-sm-only">
            <div class="am-u-sm-2">
                <div class="menu-bars">
                    <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
                        <!--      <a href="http://egov.jinyuc.com/teamweb/twqd/javascript: void(0)" class="am-menu-toggle"></a> -->
                        <div class="am-offcanvas" id="doc-oc-demo1">
                            <div class="am-offcanvas-bar">
                                <nav class="scrollspy-nav" data-am-scrollspynav data-am-sticky>
                                    <ul class="am-menu-nav am-avg-sm-1">
                                        <li><a href="http://egov.jinyuc.com/teamweb/twqd/#team" class="">团队简介</a></li>
                                        <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd/#welcome" class="">期待你的加入</a></li>
                                        <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd/#contact" class="">联系方式</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

        </div>


        <!--===========layout-container================-->
        <div class="layout-container">
            <div class="page-header">
                <div class="am-container">
                    <h1 class="page-header-title">正文</h1>
                </div>
            </div>

            <div class="breadcrumb-box">
                <div class="am-container">
                    <ol class="am-breadcrumb">
                        <li><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index">首页</a></li>
                        <li class="am-active">正文</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="section news-section">
            <div class="container">
                <!--news-section left start-->
    
                    <div class="article">
                        <header class="article--header">
                            <h2 class="article--title"><a href="http://egov.jinyuc.com/teamweb/twqd/#" rel="">三维电子罗盘</a></h2>                         
                        </header>
                        <div class="article--content">
                            <img src="../projectimg/0002-1.png" />
                            <img style="max-width:800px" src="../projectimg/0002-2.png" />
                            <p>三维电子罗盘是一款可在三维空间进行角度测量的数字罗盘模块，采用Honeywell磁传感器。工作原理是通过磁传感器中三个相互垂直的X_Y_Z轴同时感应地球磁场的磁分量，从而计算出方位角度。同时，三维罗盘还采集模块的横滚角和俯仰角，进行倾斜补偿。该罗盘以RS232/RS485/CAN接口与上位机或嵌入式系统进行通信。具有精度高，运行稳定的特点，内置硬磁补偿标定功能，同时具有偏向角和磁偏角补偿功能，能适应恶劣的工作环境。</p>
                            <p><span>特点</span>：硬磁补偿标定 ；偏向角和磁偏角补偿；反接保护、过压保护；补偿值和配置参数存入内部Flash，重新上电无需再次配置功耗低，精度高，体积小，重量轻，高性价比，易于集成。</p>
                            <p><span>应用：</span>车载导航 航行系统 船舶导航 天线定位 航模定向 手持式仪器仪表 机器人导航、定位。</p>
                        </div>
                    </div>
          
            </div>
        </div>
    </div>



    <!--===========layout-container================-->
    <div class="layout-footer">
        <div class="footer">
            <div style="background-color:#383d61" class="footer--bg"></div>
            <div class="footer--inner">
                <div class="container">
                    <div class="footer_main">
                        <div class="am-g">
                           
                                <div class="footer_main--column">
                                    <strong class="footer_main--column_title">南理工自动化研究所</strong>
                                    <div class="footer_about">
                                        <p class="footer_about--text">
                                            云适配(AllMobilize Inc.) 是全球领先的HTML5企业移动化解决方案供应商，由前微软美国总部IE浏览器核心研发团队成员及移动互联网行业专家在美国西雅图创立.
                                        </p>
                                        <p class="footer_about--text">
                                            云适配跨屏云也成功应用于超过30万家企业网站，包括微软、联想等世界500强企业
                                        </p>
                                    </div>
                                </div>
                          

                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--右下角图标-->
    
    <div class="amz-toolbar" id="amz-toolbar" style="right:10px">
        
    </div>
    <script src="../jscss/jquery-2.1.0.js" charset="utf-8"></script>
    <script src="../jscss/amazeui.js" charset="utf-8"></script>
</body>

</html>


