
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>南理工自动化研究所</title>
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/amazeui.css" />
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/common.min.css" />
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/news.min.css" />

</head>
<body>
    <div class="layout">
        <!--===========layout-header================-->
        <div class="layout-header am-hide-sm-only">
            <!--topbar start-->
            
                
            </div>

            <!--pc端导航栏-->
            <div class="header-box" data-am-sticky>
                <div class="nav-contain">
                    <div class="nav-inner">
                        <ul class="am-nav am-nav-pills am-nav-justify">
                            <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index">首页</a></li>
                            <li style="text-align:center">
                                科研成果
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="http://egov.jinyuc.com/teamweb/twqd//Solution/theory">理论研究</a></li>
                                    <li class="menu-item"><a href="http://egov.jinyuc.com/teamweb/twqd//Solution/solution">项目研究</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://egov.jinyuc.com/teamweb/twqd//Reaserch/reaserch">研究领域</a>
                            </li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/about">团队介绍
                                
                                </a></li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/join">加入我们</a></li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/contact">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--移动端导航栏-->
        <div class="m-header">
            <div class="am-g am-show-sm-only">
                <div class="am-u-sm-2">
                    <a href="http://egov.jinyuc.com/teamweb/twqd/#mheader" class="am-menu-toggle-icon am-icon-bars"></a>
                    <div class="menu-bars">
                        <nav data-am-widget="menu" class="am-menu  am-menu-dropdown1"
                             data-am-menu-collapse>
                            <a href="http://egov.jinyuc.com/teamweb/twqd/javascript: void(0)" class="am-menu-toggle"></a>
                            <ul class="am-menu-nav am-avg-sm-1 am-collapse" id="mheader">
                                <li class="am-active"><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index" class="">首页</a></li>
                                <li class="am-parent">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd/##" class="">科研成果</a>
                                    <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                                        <li class="">
                                            <a href="http://egov.jinyuc.com/teamweb/twqd//Solution/theory" class="">理论研究</a>
                                        </li>
                                        <li class="">
                                            <a href="http://egov.jinyuc.com/teamweb/twqd//Solution/solution" class="">项目研究</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//Reaserch/reaserch" class="">研究领域</a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/about" class="">团队介绍</a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/join" class="">加入我们</a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/contact" class="">联系我们</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="am-u-sm-5 am-u-end">
                    <div class="m-logo">
                        <a href="http://egov.jinyuc.com/teamweb/twqd/"><img src="../jscss/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>

        <!--侧栏主要内容-->
        <div class="am-g am-show-sm-only">
            <div class="am-u-sm-2">
                <div class="menu-bars">
                    <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
                        <!--      <a href="http://egov.jinyuc.com/teamweb/twqd/javascript: void(0)" class="am-menu-toggle"></a> -->
                        <div class="am-offcanvas" id="doc-oc-demo1">
                            <div class="am-offcanvas-bar">
                                <nav class="scrollspy-nav" data-am-scrollspynav data-am-sticky>
                                    <ul class="am-menu-nav am-avg-sm-1">
                                        <li><a href="http://egov.jinyuc.com/teamweb/twqd/#team" class="">团队简介</a></li>
                                        <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd/#welcome" class="">期待你的加入</a></li>
                                        <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd/#contact" class="">联系方式</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

        </div>


        <!--===========layout-container================-->
        <div class="layout-container">
            <div class="page-header">
                <div class="am-container">
                    <h1 class="page-header-title">正文</h1>
                </div>
            </div>

            <div class="breadcrumb-box">
                <div class="am-container">
                    <ol class="am-breadcrumb">
                        <li><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index">首页</a></li>
                        <li class="am-active">正文</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="section news-section">
            <div class="container">
                <!--news-section left start-->
                <div class="am-u-md-9">
                    <div class="article">
                        <header class="article--header">
                            <h2 class="article--title"><a href="http://egov.jinyuc.com/teamweb/twqd/#" rel="">工程机械轻触式智能控制面板控制器</a></h2>
                            <ul class="article--meta">
                                <li class="article--meta_item"><i class="am-icon-calendar"></i>October 10, 2016</li>
                                <li class="article--meta_item"><i class="am-icon-user"></i>by张三</li>
                                <li class="article--meta_item"><i class="am-icon-commenting-o"></i>33评论</li>
                            </ul>
                        </header>
                        <div class="article--content">
                            <img src="../projectimg/0006-2.png" />
                            <p>为三一重工某吊车产品提供的轻触式智能控制面板控制器，分为驾驶室里驾驶员左右面板两块。该控制器是整个吊车控制系统的一部分，负责外围信号量的采集，进行相应的分析，并且将分析结果发送至总控制系统。此外，控制器还要接受总控制系统的命令，并进行相应的操作或输出。</p>
                            <h2>特点</h2>
                            <ul>
                            <li><span>通信：</span>用户要求利用CAN总线与总控制系统进行通信</li>
                            <li><span>功能：</span>共要有三路电源输入端，分别用于系统控制电源、开关量输出的1-8路、开关量输出的9-12路。 模拟输入功能。</li>
                            <li><span>开关量输入功能：</span>当外部通过接口输入24V电压时，控制器要识别为高   电平：最低有效高电平电压为18V，即低于18V作为低电平处理。按键状态保持功能：在掉电重新上电后，系统要能恢复到掉电前的按键状态。</li>
                            <li><span>开关量输出功能：</span>最小稳态电流4A，最高电压为24V；共需要12路输出，其中有6路为PWM输出，可设置占空比，另外6路为开关量输出；可带电磁阀线圈等感性负载；防浪涌冲击功能。</li>    
                            </ul>                   
                        </div>
                    </div>
                </div>
                <!--news-section left end-->
                <!--news-section right start-->
                <div class="am-u-md-3">
                    <div class="blog_sidebar am-hide-sm-only">
                        <div class="widget">
                            <h2 class="widget--title"><i class="am-icon-file-text-o"></i>通知公告</h2>
                            <ul>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">公告1</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">公告2</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">公告3</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h2 class="widget--title"><i class="am-icon-comments-o"></i>行业动态</h2>
                            <ul>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">动态1</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">动态2</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">动态3</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h2 class="widget--title"><i class="am-icon-rss"></i>规章制度</h2>
                            <ul>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">制度1</a><span class="rss-date">November 10, 2015</span></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">制度2</a><span class="rss-date">November 10, 2015</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--news-section right end-->
            </div>
        </div>
    </div>


    <!--===========layout-container================-->
    <div class="layout-footer">
        <div class="footer">
            <div style="background-color:#383d61" class="footer--bg"></div>
            <div class="footer--inner">
                <div class="container">
                    <div class="footer_main">
                        <div class="am-g">
                            
                                <div class="footer_main--column">
                                    <strong class="footer_main--column_title">南理工自动化研究所</strong>
                                    <div class="footer_about">
                                        <p class="footer_about--text">
                                            云适配(AllMobilize Inc.) 是全球领先的HTML5企业移动化解决方案供应商，由前微软美国总部IE浏览器核心研发团队成员及移动互联网行业专家在美国西雅图创立.
                                        </p>
                                        <p class="footer_about--text">
                                            云适配跨屏云也成功应用于超过30万家企业网站，包括微软、联想等世界500强企业
                                        </p>
                                    </div>
                                </div>
                           

                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--右下角图标-->
    
    <div class="amz-toolbar" id="amz-toolbar" style="right:10px">
        
    </div>
    <script src="../jscss/jquery-2.1.0.js" charset="utf-8"></script>
    <script src="../jscss/amazeui.js" charset="utf-8"></script>
</body>

</html>



