

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>南理工自动化研究所</title>
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/amazeui.css" />
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/common.min.css" />
    <link rel="stylesheet" href="http://egov.jinyuc.com/teamweb/common/jscss/news.min.css" />
</head>
<body>
        <!--===========layout-header================-->
        <div class="layout-header am-hide-sm-only">
            <!--topbar start-->
            
                
            </div>

            <!--pc端导航栏-->
            <div class="header-box" data-am-sticky>
                <div class="nav-contain">
                    <div class="nav-inner">
                        <ul class="am-nav am-nav-pills am-nav-justify">
                            <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index">首页</a></li>
                            <li style="text-align:center">
                                科研成果
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="http://egov.jinyuc.com/teamweb/twqd//Solution/theory">理论研究</a></li>
                                    <li class="menu-item"><a href="http://egov.jinyuc.com/teamweb/twqd//Solution/solution">项目研究</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://egov.jinyuc.com/teamweb/twqd//Reaserch/reaserch">研究领域</a>
                            </li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/about">团队介绍
                                
                                </a></li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/join">加入我们</a></li>
                            <li><a href="http://egov.jinyuc.com/teamweb/twqd//We/contact">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--移动端导航栏-->
        <div class="m-header">
            <div class="am-g am-show-sm-only">
                <div class="am-u-sm-2">
                    <a href="http://egov.jinyuc.com/teamweb/twqd/#mheader" class="am-menu-toggle-icon am-icon-bars"></a>
                    <div class="menu-bars">
                        <nav data-am-widget="menu" class="am-menu  am-menu-dropdown1"
                             data-am-menu-collapse>
                            <a href="http://egov.jinyuc.com/teamweb/twqd/javascript: void(0)" class="am-menu-toggle"></a>
                            <ul class="am-menu-nav am-avg-sm-1 am-collapse" id="mheader">
                                <li class="am-active"><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index" class="">首页</a></li>
                                <li class="am-parent">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd/##" class="">科研成果</a>
                                    <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                                        <li class="">
                                            <a href="http://egov.jinyuc.com/teamweb/twqd//Solution/theory" class="">理论研究</a>
                                        </li>
                                        <li class="">
                                            <a href="http://egov.jinyuc.com/teamweb/twqd//Solution/solution" class="">项目研究</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//Reaserch/reaserch" class="">研究领域</a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/about" class="">团队介绍

                                    </a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/join" class="">加入我们</a>
                                </li>
                                <li class="">
                                    <a href="http://egov.jinyuc.com/teamweb/twqd//We/contact" class="">联系我们</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="am-u-sm-5 am-u-end">
                    <div class="m-logo">
                        <a href="http://egov.jinyuc.com/teamweb/twqd/"><img src="../jscss/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>

        <!--侧栏主要内容-->
        <div class="am-g am-show-sm-only">
            <div class="am-u-sm-2">
                <div class="menu-bars">
                    <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
                        <!--      <a href="http://egov.jinyuc.com/teamweb/twqd/javascript: void(0)" class="am-menu-toggle"></a> -->
                        <div class="am-offcanvas" id="doc-oc-demo1">
                            <div class="am-offcanvas-bar">
                                <nav class="scrollspy-nav" data-am-scrollspynav data-am-sticky>
                                    <ul class="am-menu-nav am-avg-sm-1">
                                        <li><a href="http://egov.jinyuc.com/teamweb/twqd/#team" class="">团队简介</a></li>
                                        <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd/#welcome" class="">期待你的加入</a></li>
                                        <li class=""><a href="http://egov.jinyuc.com/teamweb/twqd/#contact" class="">联系方式</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

        </div>


        <!--===========layout-container================-->
        <div class="layout-container">
            <div class="page-header">
                <div class="am-container">
                    <h1 class="page-header-title">正文</h1>
                </div>
            </div>

            <div class="breadcrumb-box">
                <div class="am-container">
                    <ol class="am-breadcrumb">
                        <li><a href="http://egov.jinyuc.com/teamweb/twqd//Index/index">首页</a></li>
                        <li class="am-active">正文</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="section news-section">
            <div class="container">
                <!--news-section left start-->
                <div class="am-u-md-9">
                    <div class="article">
                        <header class="article--header">
                            <h2 class="article--title"><a href="http://egov.jinyuc.com/teamweb/twqd/#" rel="">南京市公安局——玄微警微信平台系统</a></h2>
                            <ul class="article--meta">
                                <li class="article--meta_item"><i class="am-icon-calendar"></i>October 10, 2016</li>
                                <li class="article--meta_item"><i class="am-icon-user"></i>by张三</li>
                                <li class="article--meta_item"><i class="am-icon-commenting-o"></i>33评论</li>
                            </ul>
                        </header>
                        <div class="article--content">
                           <h2>一、项目简介</h2>
                            <p>微报警平台后所包括的项目，包括3个子栏目：治安服务平台、证照办理平台、无犯罪证明服务平台。3个子栏目基本覆盖微报警的全部服务项目。</p>
                            <img src="../projectimg/0007-1.png" />
                            <h2>二、特色与优势</h2>
                            <p>1.采用微信平台，不用再下载APP；</p>
                            <p>2.让数据跑，不让群众跑；</p>
                            <p>3.方便群众，方便警方，提高效率。</p>
                            <p>在总人口70万人的南京市玄武区，“玄微警”的关注量已突破15万，其中活跃用户近12万。期间，南京玄武警方通过“玄微警”为群众网上办事22万余件次，经测算节省群众往返时间50万小时以上。</p>
                            <h2>三、新闻报道</h2>
                            <p>2015年3月15日南京玄武公安分局微信公众号“玄微警”的推出，市民不仅可以自助式无证住宿，还能办户口，比如迁户口、报出生，动动手指就能搞定，再也不用跑派出所和办证中心了。</p>
                            <img src="../projectimg/0007-2.png" />
                            <p>推出功能如此丰富的微信公安服务平台，项目的创新性和服务水平在国内处于领先水平。在2015年12月24日的人民日报头版头条中，还以“玄微警”为例，指出了“互联网+”技术在推动政务发展中起的重要作用。此外，此平台还在中央电视台13频道中被报道！在各种媒体报道后，很多省份公安系统在联络！</p>
                            <img src="../projectimg/0007-3.png" />
                            <h2>四、已上线运行模块</h2>
                            <p>户籍网上办理服务平台</p>
                            <p>居住证网上办理服务平台</p>
                            <p>无犯罪记录证明服务平台</p>
                            <p>开换锁服务平台</p>
                            <p>旅馆无证住宿服务平台</p>
                            <p>消防巡检服务平台</p>
                            <p>信息员系统</p>
                            <p>人脸识别平台</p>
                            <p>群防群控系统</p>
                            <img src="../projectimg/0007-4.png" />
                            <h2>五、户籍网上办理服务平台</h2>
                            <p>户籍网上办理服务平台为市民提供了在线的户籍办理服务，打破了时间与空间上的限制，使得市民在任何地点任何时刻都可以通过终端设备来完成户籍的网上办理。</p>
                            <img src="../projectimg/0007-5.png" />
                            <img src="../projectimg/0007-6.png" />
                            <h2>六、无犯罪证明服务平台</h2>
                            <img src="../projectimg/0007-7.png" />
                            <p>违法犯罪记录证明是常用的证明，要出国办理护照或者进入事业单位都会需要个人无犯罪记录的证明。通过本系统下的服务，申请后只需通过警员的审核，即可获取无犯罪记录的电子证明，还可以将之打印。</p>
                            <img src="../projectimg/0007-8.png" />
                            <h2>七、居住证网上办理服务平台</h2>
                            <p>居住证是离开常住户口所在地的非南京户籍人员在我市就业、居住，享受基本公共服务、参与社会事务的有效证件。统计显示，“玄微警”运行8个月来，共办理居住证111083件，经测算节省群众往返奔波的时间约50万小时。</p>
                            <img src="../projectimg/0007-9.png" />
                            <img src="../projectimg/0007-10.png" />
                            <img src="../projectimg/0007-17.png" />
                            <h2>八、开换锁服务平台</h2>
                            <img src="../projectimg/0007-18.png" />
                            <p>可以向报备过的锁匠申请开锁换锁的服务，方便快捷。可以向报备过的锁匠申请开锁换锁的服务，方便快捷。</p>
                            <img src="../projectimg/0007-11.png" />
                            <h2>九、旅馆无证住宿服务平台</h2>
                            <img src="../projectimg/0007-19.png" />
                            <p>旅馆无证住宿服务平台为那些忘带身份证的旅客提供了便利，只需在网上申请，而无需再前往派出所开具证明。</p>
                            <img src="../projectimg/0007-12.png" />
                            <img src="../projectimg/0007-13.png" />
                            <h2>十、消防巡检服务平台</h2>
                            <img src="../projectimg/0007-20.png" />
                            <p>消防巡检系统主要是针对娱乐行业单位消防安检设施是否符合规范要求，消防设施设备是否完整好用等。公安人员可以通过软件告知娱乐行业单位相关人员按照模板上传照片，该系统也支持公安的不定期巡检。</p>
                            <img src="../projectimg/0007-14.png" />
                            <h2>十一、信息员系统</h2>
                            <p>信息员系统根据相关的政策而设计，群众可以利用此平台报料违法信息协助民警办理案件。</p>
                            <img src="../projectimg/0007-16.png" />
                        </div>
                    </div>
                </div>
                <!--news-section left end-->
                <!--news-section right start-->
                <div class="am-u-md-3">
                    <div class="blog_sidebar am-hide-sm-only">
                        <div class="widget">
                            <h2 class="widget--title"><i class="am-icon-file-text-o"></i>通知公告</h2>
                            <ul>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">公告1</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">公告2</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">公告3</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h2 class="widget--title"><i class="am-icon-comments-o"></i>行业动态</h2>
                            <ul>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">动态1</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">动态2</a></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">动态3</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h2 class="widget--title"><i class="am-icon-rss"></i>规章制度</h2>
                            <ul>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">制度1</a><span class="rss-date">November 10, 2015</span></li>
                                <li><a href="http://egov.jinyuc.com/teamweb/twqd/#">制度2</a><span class="rss-date">November 10, 2015</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--news-section right end-->
            </div>
        </div>
    </div>

 

    <!--===========layout-container================-->
    <div class="layout-footer">
        <div class="footer">
            <div style="background-color:#383d61" class="footer--bg"></div>
            <div class="footer--inner">
                <div class="container">
                    <div class="footer_main">
                        <div class="am-g">
                           
                                <div class="footer_main--column">
                                    <strong class="footer_main--column_title">南理工自动化研究所</strong>
                                    <div class="footer_about">
                                        <p class="footer_about--text">
                                            云适配(AllMobilize Inc.) 是全球领先的HTML5企业移动化解决方案供应商，由前微软美国总部IE浏览器核心研发团队成员及移动互联网行业专家在美国西雅图创立.
                                        </p>
                                        <p class="footer_about--text">
                                            云适配跨屏云也成功应用于超过30万家企业网站，包括微软、联想等世界500强企业
                                        </p>
                                    </div>
                                </div>
                         

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--右下角图标-->
    
    <div class="amz-toolbar" id="amz-toolbar" style="right:10px">
        
    </div>
    <script src="../jscss/jquery-2.1.0.js" charset="utf-8"></script>
    <script src="../jscss/amazeui.js" charset="utf-8"></script>
</body>

</html>



